<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flatiron Bowling</title>
</head>
<body>
<h1>Buster's Best Bowling Alley</h1>
<h2>Bet You Can't Bowl A Strike Every Time</h2>
<div><img src="https://s3.amazonaws.com/learn-verified/bowling.gif" hspace="10" align="right" width="300px"></div>
<p>97 Bowling Alley Lane, Boulder CO </p>
</body>
</html>